$yellow-green: #F1FF2D;
$yellow: #FFE207;
$orange: #FF9400;
$deep-orange: #FF5400;
$red: #F73913;
$dark-gray: #29323c;
$light-gray: #485563;
$lightest-gray: #D3D3D3;

$gradient-left: $dark-gray;
$gradient-right: $light-gray;
$heading-text: $orange;
